sources/ip/*/*
!sources/ip/*/*.xci*

sources/bd/*
!sources/bd/*.bd

## OS
.DS_Store
.DS_Store?
.Trashes
**.Trashes
ehthumbs.db
Thumbs.db

## MISCELLANEA
**.tmp
!/.gitignore
bin
gitk
*~
**.pyc
Doc/*
**.log
**.cache

## CERNbox
._*
**._*

## Xilinx Vivado
**.str
**.jou
.Xil/
.Xilinx/
Projects/
output/
lastbuilt.txt
credentials.sh
VivadoProject
SimulationLib
profpga

## Intel Quartus Prime
Projects
SimulationLib_quartus
*.bak

## Software building
**.depend
**.layout
**.o
bin*/
obj/
compile*
*.out