sources/ip/*/*
!sources/ip/*/*.xci*

## MISCELLANEA
**.tmp
!/.gitignore
bin
gitk
*~
**.pyc
Doc/*
**.log

## CERNbox
._*
**._*

## Xilinx Vivado
**.str
**.jou
.Xil/
.Xilinx/
Projects/
output/
lastbuilt.txt
credentials.sh
VivadoProject
SimulationLib
profpga